<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: links">
</head>

<body>

<div th:replace="fragments :: navigator"/>

<div class="container marketing">
    <h3>Event details</h3>
    <div class="row">
        <div class="row">
            <form method="post" th:action="@{/event/add}" th:object="${event}">
                <input th:value="*{eventId}" th:field="*{eventId}" hidden>
                <div class="row">
                    <div class="col-md-offset-2 col-md-2">
                        <label for="eventName">Event name:</label>
                    </div>
                    <div class="col-md-6">
                        <input class="form-control" type="text" id="eventName" th:field="*{eventName}" th:value="*{eventName}">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-offset-2 col-md-2">
                        <label for="eventDate">Event date:</label>
                    </div>
                    <div class="col-md-6">
                        <input class="form-control" type="date" id="eventDate" th:field="*{eventDate}" th:value="*{eventDate}">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-offset-2 col-md-2">
                        <label for="limit">Reservations limit:</label>
                    </div>
                    <div class="col-md-6">
                        <input class="form-control" type="number" id="limit" th:field="*{reservationsLimit}" th:value="*{reservationsLimit}">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-offset-2 col-md-2">
                        <label for="limit">Description:</label>
                    </div>
                    <div class="col-md-6">
                        <input class="form-control" type="text" id="description" th:field="*{eventDescription}" th:value="*{eventDescription}">
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-offset-4 col-md-4">
                        <input class="form-control" type="submit" value="Save changes">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div th:replace="fragments :: footer"/>

</body>
</html>
