<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: links">
</head>

<body>

<div th:replace="fragments :: navigator"/>

<div class="container marketing">
    <div class="row">
        <form method="post" th:action="@{/register}" th:object="${user_dto}">
            <div class="row">
                <div class="col-md-offset-2 col-md-2">
                    <label for="username">Username:</label>
                </div>
                <div class="col-md-6">
                    <input class="form-control" type="text" id="username" th:field="*{username}">
                </div>
            </div>
            <div class="row">
                <div class="col-md-offset-2 col-md-2">
                    <label for="password">Password:</label>
                </div>
                <div class="col-md-6">
                    <input class="form-control" type="password" id="password" th:field="*{password}">
                </div>
            </div>
            <div class="row">
                <div class="col-md-offset-2 col-md-2">
                    <label for="confirm_password">Confirm password:</label>
                </div>
                <div class="col-md-6">
                    <input class="form-control" type="password" id="confirm_password" th:field="*{confirm_password}">
                </div>
            </div>
            <div class="row">
                <div class="col-md-offset-4 col-md-4">
                    <input class="form-control" type="submit" value="Register">
                </div>
            </div>
            <div>
                <div class="alert alert-danger" th:if="${errorMessage} != null">
                    <p th:align="center" th:text="${errorMessage}"></p>
                </div>
            </div>
        </form>
    </div>
</div>

<div th:replace="fragments :: footer"/>

</body>
</html>
